<!DOCTYPE html>
<html>

<head>
  <title>AnimeRec </title>
  <link rel="stylesheet" type="text/css" href='../static/main.css'>
</head>

<body>
  <header>
    <div class="title-wrapper">
      <img src='../static/images/anime.png' alt="Anime Logo" class="animated">
      <h1>AnimeRecs</h1>
    </div>
  </header>
  <div class="form-container">
    <form action="/results" method="post">
      <input type="text" id="anime-input" name="anime-input" placeholder="Anime name...">
      <select id="genre-select" name="genre-select" multiple size="3">
          <option value="Comedy">Comedy</option>
          <option value="Action">Action</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Adventure">Adventure</option>
          <option value="Kids">Kids</option>
          <option value="Drama">Drama</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Music">Music</option>
        </select>
      <button type="submit">Search</button>
    </form>
  </div>
</body>

</html>