<!DOCTYPE html>
<html>

<head>
  <title>Anime Recommender</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <header>
    <div class="title-wrapper">
      <img src="anime.png" alt="Anime Logo" class="animated">
      <h1>Anime Recommender</h1>
    </div>
    <form>
      <input type="text" placeholder="Anime name...">
      <button type="submit">Search</button>
    </form>
    <form action="/search" method="post">
      <input type="text" name="search-term" placeholder="Anime name...">
      <button type="submit">Search</button>
    </form>
  </header>
  <main>
    <!-- Search results will be displayed here -->
  </main>
</body>

</html>